<div class='container-fluid'>
  <div class='row'>

    <div class='col-sm-9 body-content'>
      <br />
      <h3>Import Excel and Dispaly Data</h3>


      <br />

      <table class='table' width="100%">
        <tr>
          <td>Select Excel File:</td>
          <td align="left"><input #file type="file" multiple (change)="onFileChange($event)" /></td>
          <td></td>
          <td align="left">
            <button type="button" class="btn dark btn-outline" style="border:2px solid green"
                    (click)="uploadfile()">
              Upload
            </button>
          </td>
        </tr>
      </table>

      <div style="width:100%; float:left">
        <table class='table' *ngIf="excelData" style="width:50%; float:left">
          <thead>
            <tr>
              <th>Customer Id</th>
              <th>Customer Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of excelData">
              <td style="word-wrap: break-word">{{ d.RID }}</td>

              <td style="word-wrap: break-word">{{ d.FIRSTNAME }}</td>
            </tr>
          </tbody>
        </table>


        <table class='table' *ngIf="result" style="width:50%;  float:left">
          <thead>
            <tr>
              <th> Score</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of result">

              <td style="word-wrap: break-word">{{ d.COMMENTSLONG.score }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
